@import "tw-animate-css";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE RESET */
@layer base {
  html, body, #root {
    height: 100%;
  }

  body {
    @apply bg-white text-gray-900 antialiased;
    font-family: 'Inter', sans-serif;
  }
}



/* OPTIONAL: SCROLLBAR (biar clean, boleh hapus kalau gak mau) */
@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #d1d5db; /* gray-300 */
    border-radius: 9999px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af; /* gray-400 */
  }
}